.v-application a { color: #e25d5d; }
.v-application .primary {
  background-color: #3f8487 !important;
  border-color: #3f8487 !important;
}
.v-application .primary--text {
  color: #3f8487 !important;
  caret-color: #3f8487 !important;
}
.v-application .primary.lighten-5 {
  background-color: #c9ffff !important;
  border-color: #c9ffff !important;
}
.v-application .primary--text.text--lighten-5 {
  color: #c9ffff !important;
  caret-color: #c9ffff !important;
}
.v-application .primary.lighten-4 {
  background-color: #acf2f4 !important;
  border-color: #acf2f4 !important;
}
.v-application .primary--text.text--lighten-4 {
  color: #acf2f4 !important;
  caret-color: #acf2f4 !important;
}
.v-application .primary.lighten-3 {
  background-color: #90d5d8 !important;
  border-color: #90d5d8 !important;
}
.v-application .primary--text.text--lighten-3 {
  color: #90d5d8 !important;
  caret-color: #90d5d8 !important;
}
.v-application .primary.lighten-2 {
  background-color: #75b9bc !important;
  border-color: #75b9bc !important;
}
.v-application .primary--text.text--lighten-2 {
  color: #75b9bc !important;
  caret-color: #75b9bc !important;
}
.v-application .primary.lighten-1 {
  background-color: #5a9ea1 !important;
  border-color: #5a9ea1 !important;
}
.v-application .primary--text.text--lighten-1 {
  color: #5a9ea1 !important;
  caret-color: #5a9ea1 !important;
}
.v-application .primary.darken-1 {
  background-color: #226b6e !important;
  border-color: #226b6e !important;
}
.v-application .primary--text.text--darken-1 {
  color: #226b6e !important;
  caret-color: #226b6e !important;
}
.v-application .primary.darken-2 {
  background-color: #005255 !important;
  border-color: #005255 !important;
}
.v-application .primary--text.text--darken-2 {
  color: #005255 !important;
  caret-color: #005255 !important;
}
.v-application .primary.darken-3 {
  background-color: #003b3e !important;
  border-color: #003b3e !important;
}
.v-application .primary--text.text--darken-3 {
  color: #003b3e !important;
  caret-color: #003b3e !important;
}
.v-application .primary.darken-4 {
  background-color: #002528 !important;
  border-color: #002528 !important;
}
.v-application .primary--text.text--darken-4 {
  color: #002528 !important;
  caret-color: #002528 !important;
}
.v-application .secondary {
  background-color: #e25d5d !important;
  border-color: #e25d5d !important;
}
.v-application .secondary--text {
  color: #e25d5d !important;
  caret-color: #e25d5d !important;
}
.v-application .secondary.lighten-5 {
  background-color: #ffe9e1 !important;
  border-color: #ffe9e1 !important;
}
.v-application .secondary--text.text--lighten-5 {
  color: #ffe9e1 !important;
  caret-color: #ffe9e1 !important;
}
.v-application .secondary.lighten-4 {
  background-color: #ffccc5 !important;
  border-color: #ffccc5 !important;
}
.v-application .secondary--text.text--lighten-4 {
  color: #ffccc5 !important;
  caret-color: #ffccc5 !important;
}
.v-application .secondary.lighten-3 {
  background-color: #ffb0aa !important;
  border-color: #ffb0aa !important;
}
.v-application .secondary--text.text--lighten-3 {
  color: #ffb0aa !important;
  caret-color: #ffb0aa !important;
}
.v-application .secondary.lighten-2 {
  background-color: #ff948f !important;
  border-color: #ff948f !important;
}
.v-application .secondary--text.text--lighten-2 {
  color: #ff948f !important;
  caret-color: #ff948f !important;
}
.v-application .secondary.lighten-1 {
  background-color: #ff7876 !important;
  border-color: #ff7876 !important;
}
.v-application .secondary--text.text--lighten-1 {
  color: #ff7876 !important;
  caret-color: #ff7876 !important;
}
.v-application .secondary.darken-1 {
  background-color: #c34245 !important;
  border-color: #c34245 !important;
}
.v-application .secondary--text.text--darken-1 {
  color: #c34245 !important;
  caret-color: #c34245 !important;
}
.v-application .secondary.darken-2 {
  background-color: #a5242f !important;
  border-color: #a5242f !important;
}
.v-application .secondary--text.text--darken-2 {
  color: #a5242f !important;
  caret-color: #a5242f !important;
}
.v-application .secondary.darken-3 {
  background-color: #87001a !important;
  border-color: #87001a !important;
}
.v-application .secondary--text.text--darken-3 {
  color: #87001a !important;
  caret-color: #87001a !important;
}
.v-application .secondary.darken-4 {
  background-color: #6a0001 !important;
  border-color: #6a0001 !important;
}
.v-application .secondary--text.text--darken-4 {
  color: #6a0001 !important;
  caret-color: #6a0001 !important;
}
.v-application .accent {
  background-color: #82b1ff !important;
  border-color: #82b1ff !important;
}
.v-application .accent--text {
  color: #82b1ff !important;
  caret-color: #82b1ff !important;
}
.v-application .accent.lighten-5 {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.v-application .accent--text.text--lighten-5 {
  color: #ffffff !important;
  caret-color: #ffffff !important;
}
.v-application .accent.lighten-4 {
  background-color: #f8ffff !important;
  border-color: #f8ffff !important;
}
.v-application .accent--text.text--lighten-4 {
  color: #f8ffff !important;
  caret-color: #f8ffff !important;
}
.v-application .accent.lighten-3 {
  background-color: #daffff !important;
  border-color: #daffff !important;
}
.v-application .accent--text.text--lighten-3 {
  color: #daffff !important;
  caret-color: #daffff !important;
}
.v-application .accent.lighten-2 {
  background-color: #bce8ff !important;
  border-color: #bce8ff !important;
}
.v-application .accent--text.text--lighten-2 {
  color: #bce8ff !important;
  caret-color: #bce8ff !important;
}
.v-application .accent.lighten-1 {
  background-color: #9fccff !important;
  border-color: #9fccff !important;
}
.v-application .accent--text.text--lighten-1 {
  color: #9fccff !important;
  caret-color: #9fccff !important;
}
.v-application .accent.darken-1 {
  background-color: #6596e2 !important;
  border-color: #6596e2 !important;
}
.v-application .accent--text.text--darken-1 {
  color: #6596e2 !important;
  caret-color: #6596e2 !important;
}
.v-application .accent.darken-2 {
  background-color: #467dc6 !important;
  border-color: #467dc6 !important;
}
.v-application .accent--text.text--darken-2 {
  color: #467dc6 !important;
  caret-color: #467dc6 !important;
}
.v-application .accent.darken-3 {
  background-color: #2364aa !important;
  border-color: #2364aa !important;
}
.v-application .accent--text.text--darken-3 {
  color: #2364aa !important;
  caret-color: #2364aa !important;
}
.v-application .accent.darken-4 {
  background-color: #004c90 !important;
  border-color: #004c90 !important;
}
.v-application .accent--text.text--darken-4 {
  color: #004c90 !important;
  caret-color: #004c90 !important;
}
.v-application .error {
  background-color: #bc4343 !important;
  border-color: #bc4343 !important;
}
.v-application .error--text {
  color: #bc4343 !important;
  caret-color: #bc4343 !important;
}
.v-application .error.lighten-5 {
  background-color: #ffccc2 !important;
  border-color: #ffccc2 !important;
}
.v-application .error--text.text--lighten-5 {
  color: #ffccc2 !important;
  caret-color: #ffccc2 !important;
}
.v-application .error.lighten-4 {
  background-color: #ffb0a7 !important;
  border-color: #ffb0a7 !important;
}
.v-application .error--text.text--lighten-4 {
  color: #ffb0a7 !important;
  caret-color: #ffb0a7 !important;
}
.v-application .error.lighten-3 {
  background-color: #ff948d !important;
  border-color: #ff948d !important;
}
.v-application .error--text.text--lighten-3 {
  color: #ff948d !important;
  caret-color: #ff948d !important;
}
.v-application .error.lighten-2 {
  background-color: #f97973 !important;
  border-color: #f97973 !important;
}
.v-application .error--text.text--lighten-2 {
  color: #f97973 !important;
  caret-color: #f97973 !important;
}
.v-application .error.lighten-1 {
  background-color: #da5e5b !important;
  border-color: #da5e5b !important;
}
.v-application .error--text.text--lighten-1 {
  color: #da5e5b !important;
  caret-color: #da5e5b !important;
}
.v-application .error.darken-1 {
  background-color: #9e272d !important;
  border-color: #9e272d !important;
}
.v-application .error--text.text--darken-1 {
  color: #9e272d !important;
  caret-color: #9e272d !important;
}
.v-application .error.darken-2 {
  background-color: #800018 !important;
  border-color: #800018 !important;
}
.v-application .error--text.text--darken-2 {
  color: #800018 !important;
  caret-color: #800018 !important;
}
.v-application .error.darken-3 {
  background-color: #630000 !important;
  border-color: #630000 !important;
}
.v-application .error--text.text--darken-3 {
  color: #630000 !important;
  caret-color: #630000 !important;
}
.v-application .error.darken-4 {
  background-color: #490000 !important;
  border-color: #490000 !important;
}
.v-application .error--text.text--darken-4 {
  color: #490000 !important;
  caret-color: #490000 !important;
}
.v-application .info {
  background-color: #476a9c !important;
  border-color: #476a9c !important;
}
.v-application .info--text {
  color: #476a9c !important;
  caret-color: #476a9c !important;
}
.v-application .info.lighten-5 {
  background-color: #d1f0ff !important;
  border-color: #d1f0ff !important;
}
.v-application .info--text.text--lighten-5 {
  color: #d1f0ff !important;
  caret-color: #d1f0ff !important;
}
.v-application .info.lighten-4 {
  background-color: #b4d3ff !important;
  border-color: #b4d3ff !important;
}
.v-application .info--text.text--lighten-4 {
  color: #b4d3ff !important;
  caret-color: #b4d3ff !important;
}
.v-application .info.lighten-3 {
  background-color: #98b8ef !important;
  border-color: #98b8ef !important;
}
.v-application .info--text.text--lighten-3 {
  color: #98b8ef !important;
  caret-color: #98b8ef !important;
}
.v-application .info.lighten-2 {
  background-color: #7d9dd3 !important;
  border-color: #7d9dd3 !important;
}
.v-application .info--text.text--lighten-2 {
  color: #7d9dd3 !important;
  caret-color: #7d9dd3 !important;
}
.v-application .info.lighten-1 {
  background-color: #6283b7 !important;
  border-color: #6283b7 !important;
}
.v-application .info--text.text--lighten-1 {
  color: #6283b7 !important;
  caret-color: #6283b7 !important;
}
.v-application .info.darken-1 {
  background-color: #2b5282 !important;
  border-color: #2b5282 !important;
}
.v-application .info--text.text--darken-1 {
  color: #2b5282 !important;
  caret-color: #2b5282 !important;
}
.v-application .info.darken-2 {
  background-color: #063b68 !important;
  border-color: #063b68 !important;
}
.v-application .info--text.text--darken-2 {
  color: #063b68 !important;
  caret-color: #063b68 !important;
}
.v-application .info.darken-3 {
  background-color: #002650 !important;
  border-color: #002650 !important;
}
.v-application .info--text.text--darken-3 {
  color: #002650 !important;
  caret-color: #002650 !important;
}
.v-application .info.darken-4 {
  background-color: #001139 !important;
  border-color: #001139 !important;
}
.v-application .info--text.text--darken-4 {
  color: #001139 !important;
  caret-color: #001139 !important;
}
.v-application .success {
  background-color: #2eb58c !important;
  border-color: #2eb58c !important;
}
.v-application .success--text {
  color: #2eb58c !important;
  caret-color: #2eb58c !important;
}
.v-application .success.lighten-5 {
  background-color: #c9ffff !important;
  border-color: #c9ffff !important;
}
.v-application .success--text.text--lighten-5 {
  color: #c9ffff !important;
  caret-color: #c9ffff !important;
}
.v-application .success.lighten-4 {
  background-color: #abfffa !important;
  border-color: #abfffa !important;
}
.v-application .success--text.text--lighten-4 {
  color: #abfffa !important;
  caret-color: #abfffa !important;
}
.v-application .success.lighten-3 {
  background-color: #8effdd !important;
  border-color: #8effdd !important;
}
.v-application .success--text.text--lighten-3 {
  color: #8effdd !important;
  caret-color: #8effdd !important;
}
.v-application .success.lighten-2 {
  background-color: #70eec2 !important;
  border-color: #70eec2 !important;
}
.v-application .success--text.text--lighten-2 {
  color: #70eec2 !important;
  caret-color: #70eec2 !important;
}
.v-application .success.lighten-1 {
  background-color: #51d1a6 !important;
  border-color: #51d1a6 !important;
}
.v-application .success--text.text--lighten-1 {
  color: #51d1a6 !important;
  caret-color: #51d1a6 !important;
}
.v-application .success.darken-1 {
  background-color: #009a72 !important;
  border-color: #009a72 !important;
}
.v-application .success--text.text--darken-1 {
  color: #009a72 !important;
  caret-color: #009a72 !important;
}
.v-application .success.darken-2 {
  background-color: #007f5a !important;
  border-color: #007f5a !important;
}
.v-application .success--text.text--darken-2 {
  color: #007f5a !important;
  caret-color: #007f5a !important;
}
.v-application .success.darken-3 {
  background-color: #006542 !important;
  border-color: #006542 !important;
}
.v-application .success--text.text--darken-3 {
  color: #006542 !important;
  caret-color: #006542 !important;
}
.v-application .success.darken-4 {
  background-color: #004c2c !important;
  border-color: #004c2c !important;
}
.v-application .success--text.text--darken-4 {
  color: #004c2c !important;
  caret-color: #004c2c !important;
}
.v-application .warning {
  background-color: #ffb441 !important;
  border-color: #ffb441 !important;
}
.v-application .warning--text {
  color: #ffb441 !important;
  caret-color: #ffb441 !important;
}
.v-application .warning.lighten-5 {
  background-color: #ffffcb !important;
  border-color: #ffffcb !important;
}
.v-application .warning--text.text--lighten-5 {
  color: #ffffcb !important;
  caret-color: #ffffcb !important;
}
.v-application .warning.lighten-4 {
  background-color: #ffffaf !important;
  border-color: #ffffaf !important;
}
.v-application .warning--text.text--lighten-4 {
  color: #ffffaf !important;
  caret-color: #ffffaf !important;
}
.v-application .warning.lighten-3 {
  background-color: #ffff93 !important;
  border-color: #ffff93 !important;
}
.v-application .warning--text.text--lighten-3 {
  color: #ffff93 !important;
  caret-color: #ffff93 !important;
}
.v-application .warning.lighten-2 {
  background-color: #ffec78 !important;
  border-color: #ffec78 !important;
}
.v-application .warning--text.text--lighten-2 {
  color: #ffec78 !important;
  caret-color: #ffec78 !important;
}
.v-application .warning.lighten-1 {
  background-color: #ffd05c !important;
  border-color: #ffd05c !important;
}
.v-application .warning--text.text--lighten-1 {
  color: #ffd05c !important;
  caret-color: #ffd05c !important;
}
.v-application .warning.darken-1 {
  background-color: #e09924 !important;
  border-color: #e09924 !important;
}
.v-application .warning--text.text--darken-1 {
  color: #e09924 !important;
  caret-color: #e09924 !important;
}
.v-application .warning.darken-2 {
  background-color: #c17f00 !important;
  border-color: #c17f00 !important;
}
.v-application .warning--text.text--darken-2 {
  color: #c17f00 !important;
  caret-color: #c17f00 !important;
}
.v-application .warning.darken-3 {
  background-color: #a36600 !important;
  border-color: #a36600 !important;
}
.v-application .warning--text.text--darken-3 {
  color: #a36600 !important;
  caret-color: #a36600 !important;
}
.v-application .warning.darken-4 {
  background-color: #864e00 !important;
  border-color: #864e00 !important;
}
.v-application .warning--text.text--darken-4 {
  color: #864e00 !important;
  caret-color: #864e00 !important;
}